.singlePoke {
    max-width: 1400px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;

    &--cardBox {
        width: 700px;
    }

    &--subtitle {
        margin-top: 15px!important;
    }

    &--imgCard {
        float: left;
        height: 420px;
        max-width: 100%;
    }

    &--hp {
        top: -3px;
        position: relative;
        float: right;
    }

    &--hpTitle {
        top: 5px;
        position: relative;
        background-image: url('https://pokemontcg.io/static/media/energy-types.f0fdba3b.png');
        width: 25px;
        height: 25px;
        display: inline-block;
        margin: 0 4px;
        background-position: -50px -25px;
    }

    &--atacks {
        font-size: 18px!important;
        color: grey;
    }

    &--atackName {
        margin-bottom: 10px;
    }

    &--atackImg {
        position: relative;
        margin: 0 4px;
        width: 25px;
        height: 25px;
        top: -2px;
        float: left;
    }

    &--iconFight {
        background-image: url('https://pokemontcg.io/static/media/energy-types.f0fdba3b.png');
        background-position: -50px -25px;
    }

    &--iconColorless {
        background-image: url('https://pokemontcg.io/static/media/energy-types.f0fdba3b.png');
        background-position: 75px -75px;
    }

    &--iconGrass {
        background-image: url('https://pokemontcg.io/static/media/energy-types.f0fdba3b.png');
        background-position: 75px 25px;
    }

    &--iconFire {
        background-image: url('https://pokemontcg.io/static/media/energy-types.f0fdba3b.png');
        background-position: 0 0;
    }
    
    &--iconWater {
        background-image: url('https://pokemontcg.io/static/media/energy-types.f0fdba3b.png');
        background-position: 25px 25px;
    }

    &--iconLightning {
        background-image: url('https://pokemontcg.io/static/media/energy-types.f0fdba3b.png');
        background-position: -25px -25px;
    }

    &--iconPsychic {
        background-image: url('https://pokemontcg.io/static/media/energy-types.f0fdba3b.png');
        background-position: 25px -25px;
    }

    &--iconFairy {
        background-image: url('https://pokemontcg.io/static/media/energy-types.f0fdba3b.png');
        background-position: 50px 0px;
    }

    &--iconMetal {
        background-image: url('https://pokemontcg.io/static/media/energy-types.f0fdba3b.png');
        background-position: 25px 0px;
    }

    &--iconDarkness {
        background-image: url('https://pokemontcg.io/static/media/energy-types.f0fdba3b.png');
        background-position: 100px 25px;
    }

    &--iconDragon {
        background-image: url('https://pokemontcg.io/static/media/energy-types.f0fdba3b.png');
        background-position: 0px -25px;
    }

    &--cardBoxWRR {
        width: 700px;
        flex-wrap: wrap;
        flex-direction: unset!important;
    }

    &--center {
        position: relative;
        text-align: center;
    }

    &--centerFlex {
        display: flex;
        justify-content: center;
    }

    &--font12 {
        font-size: 12px!important;
    }

    &--left {
        float: left;
    }

    &--centerFlex {
        display: flex;
        justify-content: center;
    }

    &--setImg {
        bottom: 5px;
        width: 20px;
        margin-left: 10px;
        position: relative;
    }

    &--font15 {
        font-size: 15px;
    }

    &--marBottom {
        margin-bottom: 20px;
    }

    &--colorGray {
        color: #3a3d4cdb;
    }
    &--buttonStyle {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    &--marginRight {
        margin-right: 20px;
    }

    &--star {
       
    }
}