.singlePoke {
    max-width: 1400px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;

    &--cardBox {
        width: 700px;
    }

    &--subtitle {
        margin-top: 15px!important;
    }

    &--imgCard {
        float: left;
        height: auto;
        max-width: 100%;
    }

    &--hp {
        top: -3px;
        position: relative;
        float: right;
    }

    &--hpTitle {
        top: 5px;
        position: relative;
        background-image: url('https://pokemontcg.io/static/media/energy-types.f0fdba3b.png');
        width: 25px;
        height: 25px;
        display: inline-block;
        margin: 0 4px;
        background-position: -50px -25px;
    }

    &--atacks {
        font-size: 18px!important;
        color: grey;
    }

    &--atackImg {
        background-image: url('https://pokemontcg.io/static/media/energy-types.f0fdba3b.png');
        display: inline-block;
        position: relative;
        margin: 0 4px;
        width: 25px;
        height: 25px;
        background-position: 75px -75px;
        top: 6px
    }

    &--atackName {
        margin-bottom: 10px;
    }

    &--atackImgFight {
        background-image: url('https://pokemontcg.io/static/media/energy-types.f0fdba3b.png');
        display: inline-block;
        position: relative;
        margin: 0 4px;
        width: 25px;
        height: 25px;
        background-position: -50px -25px;
        top: 6px
    }
}